/* //nav */
*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;

}
.navbar{
  height: 80px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 55px;
  width: 110px;
  margin-top: 0px;

}
.add-first{
  height: 20px;
}

.logo img{
/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy8L1HIH2ZlhTcSR2x5c993GIA6DFFs06YEg&s"); */
background-size: cover;
height: 60px;
width: 110px;
margin-bottom: 100px;
margin-left: -20px;
}

.border{
  border: 2px solid transparent;
}

.border:hover{
  border: 2px solid white;
}



/* box2  deliver to india*/

.add-first{
color: #cccccc;
font-size: 1rem;
margin-left: 20px;

}
.add-second{
  font-size: 1.2rem;
  margin-left: 6px;
  margin-top: 2px;
  margin-bottom: 15px;
  
}
.panel-deals h3{
  color: white;
  margin-bottom: 5px;
}
.return{
  color: white;
}
.nav-sec{
  color: white;
}

.add-second ,p{
     color: white;
}
.add-icon{
  display: flex;
  align-items: center;
  font-size: 25px;
  /* margin-bottom: 15px; */
}
.add-icon i{
  margin-bottom: 13px;
}

/* box3 search amazon */
.nav-search{
  display: flex;
  justify-content: space-evenly;
  /* background-color: pink; */
  width: 625px;
  height: 46px;
  border-radius: 4px;

}
.nav-search:hover{
  border: 2px solid orange;
}

.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  height: 47px;

}

.search-input{
  width: 100%;
  font-size: 1.2rem;
  border: none;;
  height: 47px;

}
.search-icon{
  width: 60px;
  height: 47px;

  display: flex;
  justify-content: center;
  align-items:center ;
  font-size: 1.4rem;
  background-color:#febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
  /* color: white; */
  

}


.nav-second{
  color: white;
  margin-bottom: 20px;
  /* margin-top: 15px; */
}
/* box4  and  5*/
span{
  font-size: 1rem;
}
.nav-second{
 
margin-top: -5px;

  font-size: 1rem;
  font-weight: 700;
}

/* box 6 cart */
.nav-cart i{
  font-size: 40px;
  
}
.nav-cart{
  font-size: 0.95rem;
  font-weight: 700;
}


/*panel  */
.panel{
  
  height: 60px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  margin-left: 20px;
  color: white;
}

.panel-ops{
  width: 70%;
  font-size: 1.1rem;

}
.panel-deals{
  font-size: 1rem;
  font-weight: 700;
}

.panel-all span{
  font-size: 1.1rem;
  margin-left: 5px;
}

.panel-all i{
  font-size: 1.3rem;
}





/* hero section */
.hero-section{
  
  height: 380px;
  width: 100%;
  background-size: cover;
  /* you are on amazon... hero msg text khali aanyasathi */
  /* display: flex; */
  height: 600px;
  justify-content: center;
  align-items: flex-end;
  /* margin-top: 2000px; */
  /* position: relative; */
  
}

.herosection .img1{
  display: flex;
  overflow: scroll;
 
  
}

.img1 img{
  /* margin-top: -10px; */
  height: 550px;
  width: 100%;
  position: relative;
  object-fit: cover;
  
}



.hero-msg{
  background-color:white;
  color: black;
  position: absolute;
  height: 55px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  /* margin-bottom: 30px; */
  position: absolute;
  margin-top: -90px;
  margin-left: 55px;
}

.hero-msg p{
  text-align: center;
  align-items: center;
  margin-top: 5px;
}


.nav-second ,a{
  text-decoration: none;
  color: white;
}
.hero-msg a{
  color: #007185;
}


/* Footer */

footer{
  margin-top: 150px;
}

.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

/* panel 2 */
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;



}
.panel-deals button{
  padding: 8px;
  background: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.panel-deals button:hover{
  border: 1px solid lightblue;
}
ul{
  margin-top: 20px;
}

ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 15px;
  color: #dddddddd;
}
/* panel 3 */

.foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top: 5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{   
/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy8L1HIH2ZlhTcSR2x5c993GIA6DFFs06YEg&s"); */
background-size: cover;
height: 50px;
width: 100px;
}

/* panel 4 */
.foot-panel4{
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;

}
.pages{
  /* font-size: 0.7rem;
  text-align: center; */
  padding-top: 25px;
}
.pages a{
  margin-right: 10px;
  font-size: 12px;
  color: white;
}
.copyright{
  padding-top: 5px;
  font-size: 0.7rem;
  /* text-align: center; */
}




/* shop scetion */
.shop-section{
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(250, 222, 226); */
  gap: 70px;
  flex-wrap: wrap;
}
.box{
  
  height: 380px;
  /* border: 2px solid black; */
  border-radius: 15px;
  width: 20%;
  /* background-color: rgb(202, 172, 230); */
  /* background: radial-gradient(ellipse,black,pink,white,rgb(167, 241, 241),violet,rgb(233, 123, 141)); */
   background: linear-gradient(white,gray);
  padding: 20px 0px 15px ;
   box-shadow: 2px 2px 12px black;
  margin-top: 15px;
  /* flex-wrap: wrap; */
  transition:  0.1s ease;
 
}
.box:hover{
  /* box-shadow: 2px 2px 20px black; */
  transform: scale(1.1);
  

  
}
.seemore p{
  margin-bottom: -100px;
}
.box-img img{
  width: 80%;
  height: 200px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);

  /* border: 2px solid olivedrab; */
  
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content,a{
  color: black;
}
